body {
  background-color: var(--mobile-breakpoint);
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Медиа-запросы перенесены в файл mixins.css */
