/* Этот файл содержит медиа-запросы, которые используются в global.css */
/* Mobile */
@media (max-width: 576px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}

/* Tablet */
@media (max-width: 880px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
