.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;

  .footer__contact p {
    margin: 5px 0;
  }

  // Адаптивность для мобильных
  @include respond-to(mobile) {
    padding: 15px;
  }
}
