.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 36px;

  @include respond-to(tablet) {
    padding: 0 16px;
  }
  @include respond-to(mobile) {
    padding: 0 10px;
  }
}

.mainContentIntro {
  margin: 80px 0;
  max-width: 686px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;

  @include respond-to(tablet) {
    margin-top: 60px;
  }
  @include respond-to(mobile) {
    margin-top: 40px;
  }

  h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 138%;
    text-align: center;
    letter-spacing: 0.2px;
    max-width: 654px;
    margin-bottom: 40px;
    @include respond-to(tablet) {
      font-size: 48px;
      margin-bottom: 20px;
    }
    @include respond-to(mobile) {
      font-size: 34px;
      margin-bottom: 15px;
    }
  }

  span {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #8d5cf6;
    margin-bottom: 40px;
    @include respond-to(tablet) {
      font-size: 20px;
      margin-bottom: 20px;
    }
    @include respond-to(mobile) {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #737373;
    @include respond-to(tablet) {
      font-size: 18px;
    }
    @include respond-to(mobile) {
      font-size: 14px;
    }
  }

  ul {
    font-weight: 700;
    font-size: 35px;
    line-height: 150%;
    letter-spacing: 0.2px;
    // list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      text-align: left;
      color: #737373;
    }
  }
}
