.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;

  h3 {
    margin-bottom: 10px;
  }

  // Адаптивность для мобильных
  @include respond-to(mobile) {
    width: 100%;
    margin-bottom: 20px;
  }
}
