.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 112px;
  flex-wrap: wrap; // Подготовим к адаптивности
  align-items: start;

  @include respond-to(mobile) {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252b42;
    margin-bottom: 80px;
  }
}

.productList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
