.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 36px;

  &__intro {
    margin: 112px 0;
    max-width: 686px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
  }

  h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    max-width: 654px;
    margin-bottom: 40px;
  }
}

.mainSubtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #8d5cf6;
  margin-bottom: 40px;
}
.mainAbout {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}
.main-content {
  padding: 40px 20px;

  &__intro {
    text-align: center;
  }

  &__products {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap; // Подготовим к адаптивности

    @include respond-to(mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__about-us {
    margin-top: 60px;
    text-align: center;
  }

  // Адаптивность для планшетов и мобильных
  @include respond-to(mobile) {
    padding: 20px 10px;
  }

  @include respond-to(tablet) {
    &__intro {
      h1 {
        font-size: 2.5rem;
      }
    }

    &__products {
      justify-content: center;
    }
  }
}
