.about-us {
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
  }

  // Адаптивность для мобильных и планшетов
  @include respond-to(mobile) {
    h2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
    }
  }

  @include respond-to(tablet) {
    h2 {
      font-size: 1.9rem;
    }

    p {
      font-size: 1.05rem;
    }
  }
}
