.mainDescr {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #737373;
  margin-bottom: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  @include respond-to(tablet) {
    font-size: 18px;
  }
  @include respond-to(mobile) {
    // font-size: 16px;
    text-align: left;
  }
}

// .descrItem {
//   margin-bottom: ;
// }
